
 {% extends 'base.html' %} {% load staticfiles %} {% load i18n %} {% load humanize %} {% block title %} {% trans 'MARS' %} {% endblock %} {% block head %}
<link href="{% static 'css/medications.css' %}" rel="stylesheet">
<link href="{% static 'js/medications.js' %}" rel="stylesheet"> {% endblock head %} {% block main %}
<!-- Start Here -->
<div class="container">
</div>
<hr />
<!-- End Here -->
        <div class="row">
            <div class="col-md-10">

                <div class="container">
                    <h2>Medication History</h2>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>MEDICATIONS</th>
                                <th>HOURS</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>10</th>
                                <th>11</th>
                                <th>12</th>
                                <th>13</th>
                                <th>14</th>
                                <th>15</th>
                                <th>16</th>
                                <th>17</th>
                                <th>18</th>
                                <th>19</th>
                                <th>20</th>
                                <th>21</th>
                                <th>22</th>
                                <th>23</th>
                                <th>24</th>
                                <th>25</th>
                                <th>26</th>
                                <th>27</th>
                                <th>28</th>
                                <th>29</th>
                                <th>30</th>
                                <th>31</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for medication in medications %}
                            <tr>
                                <td>{{ medication.medication.medicationName }}</td>
                                <td>{{ medication.timeDue }}</td>
                                <td>{{ completion.completionDate }}</td>
                                <td>{{ completion.completionTime }}</td>
                                <td>{{ completion.completionDue }}</td>
                                <td>{{ completion.completionNote }}</td>
                            </tr>
                            {% endfor %}
                            <tbody>
                                <tr>
                                    <th>Resident:</th>

                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock main %}