
 {% extends 'base.html' %} {% load staticfiles %} {% load i18n %} {% load humanize %} {% block title %} {% trans 'MARS' %} {% endblock %} {% block head %}
<link href="{% static 'css/medications.css' %}" rel="stylesheet"> {% endblock head %} {% block main %}
<div class="post-comment clearfix">
    <form action="{% url 'acceptRefuse' medication=0 %}" method="POST" role="form">
        {% csrf_token %} {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors %} has-error{% endif %}">
            <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
            {% if field.label == 'Content' %}
            <!-- {% include 'markdown_editor.html' with textarea='id_content' %} -->
            {% endif %} {{ field }} {% if field.help_text %}
            <span class="help-block">{{ field.help_text }}</span> {% endif %} {% for error in field.errors %}
            <label class="control-label">{{ error }}</label>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="form-group">
            <button type="submit" id="medicationAccepted" class="btn btn-primary publish">{% trans 'Record' %}</button>
            <!-- <button type="button" class="btn btn-default draft">{% trans 'Save Draft' %}</button> -->
            <!-- <button type="button" class="btn btn-default preview" data-toggle="modal" data-target="#preview">{% trans 'Preview' %}</button> -->
            <a href="{% url 'medications' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </div>
    </form>
</div>
{% endblock %}