
{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/residents.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'residents' %}">{% trans 'Physician Orders' %}</a></li>
    <li class="active">{% trans 'Edit Physician Order' %}</li>
  </ol>
  <form action="{% url 'editPhysicianOrder' form.instance.pk %}" method="post" role="form">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>

        {{ field }}
      
        {% for error in field.errors %}
          <label class="control-label">{{ error }}</label>
        {% endfor %}
      </div>
    {% endfor %}
    <div class="form-group">
      <button type="button" class="btn btn-primary publish">{% trans 'Save' %}</button>
      <a href="{% url 'orders' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>


{% endblock main %}
