{% load staticfiles %} {% load i18n %} {% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %} {% bootstrap_messages %} {% block head %}
{% endblock head %} {% block main %}
<main>
    <div class="container">
        <h1 class="text-center">Medication Administration Record</h1> {% for m in meds %}
        <div class="row-fluid">
            <div class="col-lg-2">
                <div class="table">
                    <table style="margin-bottom: 0px" id="removeMargin" class="table table-bordered">
                        <div class="row"><strong>{{m.medicationName}}</strong></div>
                        <div class="row">{{m.medicationDistribution}}, {{m.medicationDosage}} </div>
                        <div class="row"><small>Physician Order: {{m.medicationComment}}</small> </div>
                        <div class="row"><small>Doses Left: {{m.medicationQuantity}}</small></div>
                    </table>
                </div>
            </div>
            <div class="col-lg-10">
                <div class="table">
                    <table style="margin-bottom: 0px" id="removeMargin" class="table table-bordered">
                        <thead>
                            <tr>
                                <th><small>Time Due</small></th>
                                <th><small>1</small></th>
                                <th><small>2</small></th>
                                <th><small>3</small></th>
                                <th><small>4</small></th>
                                <th><small>5</small></th>
                                <th><small>6</small></th>
                                <th><small>7</small></th>
                                <th><small>8</small></th>
                                <th><small>9</small></th>
                                <th><small>10</small></th>
                                <th><small>11</small></th>
                                <th><small>12</small></th>
                                <th><small>13</small></th>
                                <th><small>14</small></th>
                                <th><small>15</small></th>
                                <th><small>16</small></th>
                                <th><small>17</small></th>
                                <th><small>18</small></th>
                                <th><small>19</small></th>
                                <th><small>20</small></th>
                                <th><small>21</small></th>
                                <th><small>22</small></th>
                                <th><small>23</small></th>
                                <th><small>24</small></th>
                                <th><small>25</small></th>
                                <th><small>26</small></th>
                                <th><small>27</small></th>
                                <th><small>28</small></th>
                                <th><small>29</small></th>
                                <th><small>30</small></th>
                                <th><small>31</small></th>
                            </tr>
                        </thead>
                        <tr>
                            {% for s in m.medicationtime_set.all %}
                            <td><small>{{ s.timeDue }}</small></td>
                            {% for d in s.completion.all %}
                            <!--Below is for Debugging-->
                            <!-- <td><small>{{d.completionDate}}|{{d.completionTime}}|{{s}}|{{d.completionMedication_id}}|{{d.completionRx_id}}<small></td> -->
                            {% if d.completionStatus == 'Refused' %}
                            <td><small>O</small></td>
                            {% elif d.completionMissed == True %}
                            <td><small>M</small></td>
                            {% else %}
                            <td><small>AK</small></td>
                            {% endif %} {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
        <table class="table table-bordered">
            <tr valign="top">
                <th>Diagnosis</th>
                <th>DIET</th>
                <th>Comments
                    <br>
                </th>
            </tr>
            <tr valign="top">
                <th><small>Allergies</small></th>
                <th><small>PhysicianName: {{resident.residentPrimaryPhysician}}</small>
                    <br>
                    <br><small>Phone Number</small></th>
                <th><small>A. Put initials in apppropriate box when medication is given <br>B. Circle initials when not given <br>C. State reason for refusal /omission on back of form. <br>D. PRN Medications: Reason given and results must be noted on back of form. <br>E. Legend: S=School; H=Home visit; W=Work; P=Program<small></th>
                        </tr>
                        </table>
                        <table class="table table-bordered">
                        <tr valign="top">
                            <!-- Need ability to use just straight query. Making me put in for loop at present, which wont' work -->
                            <th>NAME: <br><small>{{ resident }}</small></th>
                <th>Record #:
                    <br><small>{{ resident.id }}</small></th>
                <th>Date of Birth:
                    <br><small>{{ resident.residentDOB }}</small></th>
                <br>
                <td>Sex:
                    <br><small>Male</small></td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    {% if meds.has_previous %}
                    <li><a href="?page={{ meds.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %} {% for i in meds.paginator.page_range %} {% if meds.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %} {% endfor %} {% if meds.has_next %}
                    <li><a href="?page={{ meds.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}
</main>