{% load staticfiles %} {% load i18n %} {% load bootstrap3 %} {% bootstrap_css %} {% bootstrap_javascript %} {% bootstrap_messages %} {% block head %}
<link href="{% static 'css/medications.css' %}" rel="stylesheet">
<link href="{% static 'js/medications.js' %}" rel="stylesheet"> {% endblock head %} {% block main %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="container">
                    <table class="table table-bordered">
                        <h1 class="text-center">Medication Administration Record</h1>
                        <br>
                        <thead>
                            <tr>
                                <th>MO/YR: 07/2017</th>
                                <th>Start/Stop Date</th>
                                <th>Facility Name: Hillside Guest Home</th>
                            </tr>
                        </thead>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Medication</th>
                                <th>Hour</th>
                                <th>1</th>
                                <th>2</th>
                                <th>3 </th>
                                <th>4</th>
                                <th>5</th>
                                <th>6</th>
                                <th>7</th>
                                <th>8</th>
                                <th>9</th>
                                <th>10</th>
                                <th>11</th>
                                <th>12</th>
                                <th>13</th>
                                <th>14</th>
                                <th>15</th>
                                <th>16</th>
                                <th>17</th>
                                <th>18</th>
                                <th>19 </th>
                                <th>20</th>
                                <th>21</th>
                                <th>22</th>
                                <th>23</th>
                                <th>24</th>
                                <th>25</th>
                                <th>26</th>
                                <th>27</th>
                                <th>28</th>
                                <th>29</th>
                                <th>30</th>
                                <th>31</th>
                            </tr>
                        </thead>


                        <tr>
                                                {% for t in time %}
                            <td>{{ t.timeMedication }}</td>

                            <td>{{ t.timeDue }} </td>
                            {% for m in t.completion.all %}
                            <td>AD</td>
                            {% endfor %} 
                        </tr>
                        {% endfor %}

                    </table>
                    <table class="table table-bordered">
                        <tr valign="top">
                            <th>Diagnosis</th>
                            <th>DIET</th>
                            <th>Comments
                                <br>
                            </th>
                        </tr>
                        <tr valign="top">
                            <th>Allergies</th>
                            <th>PhysicianName
                                <br>
                                <br>
                                <br>Phone Number</th>
                            <th><small>A. Put initials in apppropriate box when medication is given <br>B. Circle initials when not given <br>C. State reason for refusal /omission on back of form. <br>D. PRN Medications: Reason given and results must be noted on back of form. <br>E. Legend: S=School; H=Home visit; W=Work; P=Program<small></th>
                        </table>

                        </tr>
                        <table style="border-spacing: 0px;"class="table table-bordered">
                        <tr valign="top">
                            <!-- Need ability to use just straight query. Making me put in for loop at present, which wont' work -->
                            <th>NAME: <br><br>{{ resident }}</th>
                            <th>Record #: <br><br> {{ resident.id }}</th>
                            <th>Date of Birth: <br><br> {{ resident.residentDOB }}</td>
                            <td>Sex: <br><br>Male</td>

                        </tr>
                    </table>
                </div>
            </div>
        </div>
</main>
{% endblock %}